* {
    margin: 0px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding-inline: 20px;
    text-transform: uppercase;
    border-bottom: 1px solid lightgray;
}

.nav-items {
    display: flex;
    list-style: none;
    gap: 20px;
    font-size: 14px;
    font-weight: lighter;
}

.nav-items>li {
    cursor: pointer;
}

.nav-icons {
    display: flex;
    gap: 20px;
    list-style: none;
    font-size: 10px;
    font-weight: lighter;
}


